.container {
  padding: 30px 0;
  padding-bottom: 50px;
}
.panel-group {
  .panel {
    background: #fff;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    .panel-heading {
      background: #fafafa;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      a {
        display: block;
        width: 100%;
        text-align: left;
        padding: 15px 30px;
        font-size: 20px;
        text-align: left;
        color: #205d85;
        text-decoration: none;
      }
    }
    .panel-collapse {
      .panel-body {
        text-align: left;
        padding: 15px 30px 30px 30px;
        a {
          color: #3d95d1;
          font-weight: bold;
          img.logo {
            margin: 10px;
            width: 120px;
          }
        }
        p:last-child {
          margin-bottom: 0;
        }
        h3 {
          font-size: 18px;
          margin-top: 25px;
          font-weight: 600;
          &.mt-0 {
            margin-top: 0;
          }
        }
        h4 {
          font-size: 16px;
          font-weight: 600;
          margin-top: 20px;
        }
      }
    }
    &.panel-static {
      .panel-heading {
        background: #3d95d1;
        a {
          color: #fff;
        }
      }
    }
  }
}
.about-eu-funding {
  text-align: center;
  font-family: Arial;
  margin: 20px auto;
  img {
    width: 200px;
  }
  p {
    font-size: 13px;
    margin-top: 10px;
  }
}

/* 404 PAGE */

.container-404 {
  padding: 30px 0;
  padding-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: #3b95d0;
  min-height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    background: rgba(255,255,255,1);
    padding: 30px;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    color: #3b95d0;
  }
  .title {
    font-size: 80px;
  }
  .subtitle {
    font-size: 20px;
  }
  .cta {
    margin: 30px auto;
    max-width: 400px;
    a {
      color: #fff;
      background: #3b95d0;
      display: block;
      padding: 5px 20px;
      border-radius: 3px;
      font-weight: 600;
      text-decoration: none;
      font-size: 20px;
    }
  }
}